.jumbotron {
  background-color: #02ac02;
  color: #fff;
  padding: 30px 15x;
}



.navbar {
  
  background-color: #02ac02;
  
  border: 0;
  
  
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}



.container-fluid {
  padding: 80px 60px;
}

.bg-grey {
  background-color: #f6f6f6;
}


.carousel-control.right, .carousel-control.left {
  background-image: none;
  
}
.carousel-indicators li {
  border-color: #8d918d;
}
.carousel-indicators li.active {
  background-color: #8d918d;
}





